# Built artifacts
bin/
gen/
out/
build/

# IDE specific files
.gradle/
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.DS_Store

# Local configuration
local.properties

# Captures and logs
captures/
*.log

# Kotlin
.kotlin/
